@model admin0222.Models.table_Member
@{
    ViewBag.Title = "Register";
    Layout = null;

}


@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()
    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin 2 - Register</title>

        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">
        <link href="~/Content/sb-admin-2.min.css" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body class="bg-gradient-primary" style="background-color: #aef6ffe3; background-image: linear-gradient(180deg,#cbf9ffe3 10%,#a4eef8 100%) ">

        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <img src="~/image/a1.jpg" width="420px" height="520px" />

                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">創建一個帳戶!</h1>
                                </div>
                                <form  onsubmit="return validate()" method="post" class="user">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="UserId" name="UserId"
                                               placeholder="帳號" required>

                                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                                    </div>
                                    

                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="Password" name="Password"
                                               placeholder="密碼" required>
                                        
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="Password2" name="Password2"
                                               placeholder="再次確認密碼" onkeyup="validate()" required>
                                        <div class="invalid-feedback">密碼不一致</div>
                                        <!--加了一個 invalid-feedback 的類別，用於顯示驗證錯誤提示-->
                                        <!--當驗證錯誤時，我們設定了自定義的驗證錯誤 passwordMismatch，用於後續驗證錯誤時判斷使用。-->


                                    </div>


                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="Name" name="Name"
                                               placeholder="姓名" required>

                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="Email" name="Email"
                                               placeholder="信箱" required>

                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">

                                        <input type="submit" value="註冊" class="btn btn-primary btn-user btn-block" style="background-color: #87cefa; border-color: #87cefa" />
                                        @ViewBag.Message

                                    </div>




                                </form>
                                <hr>
                                
                                <div class="text-center">
                                    <a class="small" href="/Home/Login" style="color: #72c2f7">已經有帳號? 登入!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script >
            document.getElementById("Password2").addEventListener("keyup", function () { //監聽了 password-confirm 輸入框的 keyup 事件
                var password = document.getElementById("Password").value;
                var password2 = this.value;
                var feedback = this.nextElementSibling;
                if (password === password2) {
                    // 重置驗證狀態，顯示綠色勾勾
                    this.setCustomValidity("");
                    this.classList.add("is-valid");
                    this.classList.remove("is-invalid");
                    feedback.style.display = "none";
                } else {
                    // 設定驗證錯誤，顯示紅色叉叉
                    this.setCustomValidity("passwordMismatch");
                    this.classList.remove("is-valid");
                    this.classList.add("is-invalid");
                    feedback.style.display = "block";
                }
            });
        </script>
        

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>
        <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
        <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

        <script src="~/Scripts/js/sb-admin-2.min.js"></script>

        <script src="~/Scripts/vendor/chart.js/Chart.min.js"></script>

        <script src="~/Scripts/js/demo/chart-area-demo.js"></script>
        <script src="~/Scripts/js/demo/chart-pie-demo.js"></script>


    </body>

</html>

}

