@model IEnumerable<admin0222.Models.Customer>
@{
    ViewBag.Title = "Read";
}


<h2 style="display:inline">客戶資料</h2>
<h3 style="display:inline">@Html.ActionLink("新增客戶", "Create")</h3>

<a href="@Url.Action("Export", "Customer")" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
        <i class='fas fa-file-export' style='font-size:18px'></i>
    </span>
    <span class="text">匯出成excel</span>
</a>



<table class="table">
    <tr>


        <th>
            客戶公司名
        </th>

        <th>
            公司地址
        </th>

        <th>
            公司連絡電話
        </th>

        <th>
            公司統一編號
        </th>

        <th>
            公司加入日期
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addrress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
                @Html.ActionLink("詳細資訊", "Details", new { id = item.Id }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

